<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.webproject.population.mapper.AdminMapper">

	<select id="selectAllMembers" resultType="MemberVO">
	SELECT MEMBERID, EMAIL, usertype, regdate, active
	FROM MEMBER
	</select>
	
	<select id="selectMemberByMemberId" parameterType="string" resultType="MemberVO">
	SELECT MEMBERID, PASSWD, EMAIL, USERTYPE, REGDATE, ACTIVE
	FROM MEMBER
	WHERE MEMBERID = #{ memberId }
	</select>

	<insert id="insertMember" parameterType="MemberVO">
	INSERT INTO MEMBER (memberId, passWd, email, userType, regDate, active)
	VALUES (#{ memberId }, #{passWd}, #{email}, #{userType}, #{regDate}, #{active})
	</insert>

	<update id="updateMember" parameterType="MemberVO">
	UPDATE MEMBER
	SET EMAIL = #{ email }, PASSWD = #{ passwd }, active = #{ active }
	WHERE MEMBERID = #{ memberId }
	</update>
	
	<update id="updateMemberDeleted" parameterType="string">
	UPDATE MEMBER
	SET ACTIVE = false
	WHERE MEMBERID = #{ memberId }
	</update>

</mapper>