<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

  
<mapper namespace="com.webproject.population.mapper.HomeMapper">

   
    <select id="selectHome" parameterType="hashmap" resultType="HomeVO">
      
     select 
     	region, 
     	sum(household)/12 household, 
     	sum(population_male)/12 population_male,
     	sum(population_female)/12 population_female
     from team3_population
     group by region
        
    </select>
    

</mapper>


