<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webproject.population.mapper.HouseholdMapper">

	<select id="selectAll" resultType="HouseholdVO">
	SELECT SIDO, GUGUN, YEAR, MONTH, HOUSEHOLD FROM TEAM3_POPULATION;	
	</select>

</mapper>