<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.webproject.population.mapper.HouseholdMapper">

	    <select id="selectHousehold" parameterType="hashmap" resultType="HouseholdVO">
        select * from team3_population
        <where>
        	<if test="sido !=null">
        	sido = #{sido}
        	</if>
        	<if test="year !=null">
        	and year = #{year}
        	</if>
        	<if test="month !=null">
        	and month = #{month}
        	</if>
        </where>
    </select>

</mapper>