<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<typeAliases>
		<typeAlias type="com.webproject.population.vo.HouseholdVO" alias="HouseholdVO" />
		<typeAlias type="com.webproject.population.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="com.webproject.population.vo.BoardVO" alias="BoardVO"/>
		<typeAlias type="com.webproject.population.vo.areaVO" alias="areaVO"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="com/webproject/population/mapper/HouseholdMapper.xml"/>
		<mapper resource="com/webproject/population/mapper/AuthMapper.xml" />
		<mapper resource="com/webproject/population/mapper/BoardMapper.xml" />
		<mapper resource="com/webproject/population/mapper/AreaMapper.xml" />
	</mappers>
	
</configuration>